<div id="internal-navigator" ng-class="{active: active}">
  <div class="bar">
    <div class="icon">
      <i class="fa fa-bars" ng-click="active = !active"></i>    
    </div>

    <ul class="options">
      <li ng-click="showContents = !showContents" ng-class="{active: showContents}">Table of Contents</li>
    </ul>
  </div>

  <div id="table-of-contents" ng-class="{active: showContents}">
    <ul>
      <li>Who am I?</li>
      <li>Where are you?</li>
      <li>But... why?</li>
    </ul>
  </div>
</div>